@import './quasar-variables.scss';

#app {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.header {
    margin-top: 2rem; // Redefine h2 top margin
    margin-bottom: 0;
}
