#app {
    font-family: $sans-serif-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: $primary;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    @media (max-width: $breakpoint-sm) {
        padding-inline: 25px;
    }

    @media (min-width: #{$breakpoint-sm + 1px}) and (max-width: $breakpoint-md) {
        padding-inline: 50px;
    }

    @media (min-width: #{$breakpoint-md + 1px}) and (max-width: $breakpoint-lg) {
        padding-inline: 150px;
    }

    @media (min-width: #{$breakpoint-lg + 1px}) {
        padding-inline: 20vw;
    }

    width: 100%;
    padding-top: #{2 * $navHeight};
    padding-bottom: #{3 * $footerHeight};
    animation: shake-animation 0.4s;
}

h1 {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 400;
    margin-block: 0;
}

h2 {
    font-size: 1.75rem;
    margin: 0;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: $links;

    &:hover {
        &:link {
            color: $unvisited;
        }

        &:visited {
            color: $visited;
        }
    }
}

img {
    outline: $borderOutline solid black;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: 0.5s ease;

    &:hover {
        filter: grayscale(0%);
        opacity: 1;
    }
}

.heading {
    border-bottom: $borderOutline solid black;
    margin-bottom: 1rem;
}

.carousel {
    padding-inline: 0;
}

.simple-page {
    padding-top: 20vh;
}

.footer {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

.center-block {
    display: block;
    margin-inline: auto;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.emoji {
    font-size: 48px;
}

// Custom Scrollbar
// Firefox Support
* {
    scrollbar-color: #828282 transparent;
    scrollbar-width: thin;
}

// Chrome, Edge, and Safari Support
*::-webkit-scrollbar {
    width: 11px;
    // overflow: hidden;
}

*::-webkit-scrollbar-track-piece,
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-resizer,
*::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #535353;
}

*::-webkit-scrollbar-thumb {
    background-color: #828282;
}

@keyframes shake-animation {
    0% { transform: translateY(0) }
    25% { transform: translateY(4px) }
    50% { transform: translateY(-5px) }
    75% { transform: translateY(1px) }
    100% { transform: translateY(0) }
}