// Custom variables
$sans-serif-font: 'Outfit', Helvetica, sans-serif
$mono-font: 'Fira Code', monospace

$navHeight: 60px
$footerHeight: 3rem
$borderOutline: 2px
$borderMargin: calc(100% - #{$borderOutline * 2})

// Override Quasar default variables
// Defaults @ https://quasar.dev/style/sass-scss-variables#variables-list
$primary   : #ffdcc0

// Max width at which point current size ends
$breakpoint-sm: 520px
$breakpoint-md: 768px
$breakpoint-lg: 1080px